@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("../img/matrix.jpg"); 
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox{
    position: absolute;
    top: 9px;
    right: 190px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
    color: #fff;
}

#hiscoreBox{
    position: absolute;
    top: 59px;
    right: 150px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
    color: #fff;
}
.hb{
    padding: 10px;
    position: absolute;
    top: 130px;
    left: 1100px;

    background-color: black;
   
}

#board{
    background-color: black;
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
    box-shadow: -27px -5px 125px 53px rgba(0,0,0,0.75);
-webkit-box-shadow: -27px -5px 125px 53px rgba(0,0,0,0.75);
-moz-box-shadow: -27px -5px 125px 53px rgba(0,0,0,0.75);
}

.head{
    background-color: green;
    border: 2px solid rgb(34, 4, 34); 
    transform: scale(1.02);
    border-radius: 9px;
}

.snake{
    background-color: rgb(0, 230, 4);
    border: .25vmin solid rgb(0, 0, 0);
    border-radius: 12px;
}

.food{
    background: rgb(61,9,121);
    background: linear-gradient(90deg, rgba(61,9,121,1) 0%, rgba(177,24,122,1) 80%);
    border: .25vmin solid black;
    border-radius: 8px;
}